<!-- Strategy finder dialog moved to `StrategyFinderDialogComponent` and is opened via DialogService -->

<mat-card>
    <span *ngIf="autopilotService.strategyList[autopilotService.strategyCounter] === 'Daytrade'">
        <mat-chip [color]="getStrategyChipColor('Daytrade')" matTooltip="Current strategy">{{autopilotService.strategyList[autopilotService.strategyCounter]}}</mat-chip>
    </span>
    <span *ngIf="autopilotService.strategyList[autopilotService.strategyCounter] !== 'Daytrade'">
        <mat-chip [color]="getStrategyChipColor('other')" matTooltip="Current strategy">{{autopilotService.strategyList[autopilotService.strategyCounter]}}</mat-chip>
    </span>
    <mat-chip [color]="getVolatilityChipColor(autopilotService.volatility)" matTooltip="Predicted volatility">Predicted volatility: {{autopilotService.volatility * 100 | number:'1.2-2'}}%</mat-chip>

    <mat-chip color="primary" matTooltip="Predicted">Predicted BTC: {{autopilotService.lastBtcMl * 100 | number:'1.2-2'}}%</mat-chip>

    <mat-chip color="primary" matTooltip="Predicted">Predicted GLD: {{autopilotService.lastGldMl * 100 | number:'1.2-2'}}%</mat-chip>

    <mat-chip color="primary" matTooltip="Predicted">Predicted SPY: {{autopilotService.lastSpyMl * 100 | number:'1.2-2'}}%</mat-chip>

    <mat-chip color="primary" matTooltip="Portfolio volatility">Portfolio volatility: {{priceTargetService.portfolioVolatility * 100 | number:'1.2-2'}}%</mat-chip>

    <mat-chip color="primary" matTooltip="Estimated portfolio profit and loss">Estimated portfolio profit and loss: {{priceTargetService.portfolioPl * 100 | number:'1.2-2'}}%</mat-chip>

    <mat-chip color="primary" matTooltip="Profit target">Profit target: {{priceTargetService.targetDiff * 100 | number:'1.2-2'}}%</mat-chip>
    <mat-chip color="warn" matTooltip="Trade allocation - percentage of cash balance">Trade allocation - percentage of cash balance: {{autopilotService.riskLevel * 100 | number:'1.2-2'}}%</mat-chip>
    <!-- 
<mat-chip [color]="getDaytradeRiskColor()" matTooltip="Day trade allocation - percentage of total bp">{{dayTradingRiskToleranceList[dayTradeRiskCounter] * 100}}%</mat-chip>
<label for="daytrade-switch">Daytrade mode</label>
<mat-slide-toggle id="daytrade-switch" (change)="handleDaytrade()" [(ngModel)]="daytradeMode"></mat-slide-toggle>
-->
</mat-card>
<mat-card>
    <mat-toolbar id="autopilot-toolbar">
        <div class="toolbar-group-left">
            <div class="toolbar-header">
                <ng-container *ngTemplateOutlet="header"></ng-container>
            </div>
        </div>
        <div class="toolbar-center">
            <!-- <app-ai-picks></app-ai-picks> -->
            <!-- <app-daytrade-active-search></app-daytrade-active-search> -->
            <app-algo-evaluation></app-algo-evaluation>
        </div>
        <div class="toolbar-group-right">
            <button mat-raised-button color="primary" *ngIf="!display" (click)="open()" matTooltip="Auto Manage">
                <mat-icon>play_arrow</mat-icon>
                Auto Manage
            </button>
            <button mat-raised-button color="warn" *ngIf="display" (click)="stop()" matTooltip="Stop">
                <mat-icon>stop</mat-icon>
                Stop
            </button>
            <button mat-raised-button color="primary" (click)="showStrategies()" matTooltip="Show strategies">
                <mat-icon>list</mat-icon>
                Show strategies
            </button>
            <button mat-raised-button color="accent" (click)="test()" matTooltip="Test Functionalities">
                <mat-icon>bug_report</mat-icon>
                Test Functionalities
            </button>
            <app-default-order-lists class="default-orders-button"></app-default-order-lists>
        </div>
    </mat-toolbar>
</mat-card>
<ng-template #header>
    <div class="grid-container">
        <div class="grid-item">
            <h3>Strategy</h3>
            <label for="trading-switch">Trading is active</label>
            <mat-slide-toggle id="trading-switch" [(ngModel)]="isOpenMarket" [disabled]="true"></mat-slide-toggle>
        </div>
    </div>
</ng-template>