<p-dialog header="Strategy finder" [(visible)]="revealPotentialStrategy">
    <p-listbox [options]="tradingPairs">
        <ng-template let-strategy pTemplate="item">
            <div class="strategy-list">
                <div class="buy-sell-container">
                    <table>
                        <tr *ngFor="let buy of strategy">
                            <td>
                                <div *ngIf="buy && buy.primaryLegs">
                                    <div *ngFor="let leg of buy.primaryLegs">
                                        <p-tag *ngIf="leg.putCallInd==='C'" styleClass="p-mr-2" severity="success"
                                            [value]="leg.description" [rounded]="true"></p-tag>
                                        <p-tag *ngIf="leg.putCallInd==='P'" styleClass="p-mr-2" severity="danger"
                                            [value]="leg.description" [rounded]="true"></p-tag>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div *ngIf="buy && buy.primaryLegs">
                                    {{buy.quantity}}
                                </div>

                            </td>
                            <td>
                                <div *ngIf="buy && buy.primaryLegs">
                                    {{buy.price | currency}}
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </ng-template>
    </p-listbox>
    <p-button label="Ok" styleClass="p-button-success" (click)="revealPotentialStrategy = false"></p-button>
</p-dialog>

<p-toolbar id="autopilot-toolbar">
    <div class="p-toolbar-group-left">
        <div class="toolbar-header">
            <ng-container *ngTemplateOutlet="header"></ng-container>
        </div>
    </div>
    <div class="p-toolbar">
        <span *ngIf="daytradeMode">
            <!-- <app-ai-picks></app-ai-picks> -->
            <app-daytrade-active-search></app-daytrade-active-search>
        </span>
        <span *ngIf="!daytradeMode">
            <!-- <app-ai-picks></app-ai-picks> -->
            <app-algo-evaluation></app-algo-evaluation>
        </span>
    </div>
    <div class="p-toolbar-group-right">
        <p-splitButton label="Auto Manage" icon="pi pi-play" severity="success" *ngIf="!display" (onClick)="open()"
            [model]="startButtonOptions" styleClass="p-button-success"></p-splitButton>
        <p-button label="Stop" icon="pi pi-times" *ngIf="display" styleClass="p-button-danger"
            (click)="stop()"></p-button>
        <p-splitButton label="Show strategies" severity="success" (onClick)="showStrategies()"
            [model]="otherOptions"></p-splitButton>
        <p-splitButton label="Test Functionalities" severity="warning" (onClick)="test()" [model]="multibuttonOptions"
            styleClass="p-button-warning"></p-splitButton>
        <app-default-order-lists class="default-orders-button"></app-default-order-lists>
    </div>
</p-toolbar>

<ng-template #header>
    <h3>Strategy</h3>
    <span *ngIf="autopilotService.strategyList[autopilotService.strategyCounter] === 'Daytrade'">
        <p-tag [value]="autopilotService.strategyList[autopilotService.strategyCounter]" pTooltip="Current strategy"
            severity="warning"></p-tag>
    </span>
    <span *ngIf="autopilotService.strategyList[autopilotService.strategyCounter] !== 'Daytrade'">
        <p-tag [value]="autopilotService.strategyList[autopilotService.strategyCounter]" pTooltip="Current strategy"
            severity="danger"></p-tag>
    </span>
    <p-tag [value]="autopilotService.volatility * 100 +'%'" *ngIf="autopilotService.volatility >= 0.5" severity="danger"
        pTooltip="Predicted volatility"></p-tag>
    <p-tag [value]="autopilotService.volatility * 100 +'%'"
        *ngIf="autopilotService.volatility >= 0.28 && autopilotService.volatility < 0.5" severity="warning"
        pTooltip="Predicted volatility"></p-tag>
    <p-tag [value]="autopilotService.volatility * 100 +'%'" *ngIf="autopilotService.volatility < 0.28"
        severity="success" pTooltip="Predicted volatility"></p-tag>

    <p-tag [value]="priceTargetService.portfolioVolatility * 100 +'%'" severity="info"
        pTooltip="Portfolio volatility"></p-tag>

    <p-tag [value]="priceTargetService.portfolioPl * 100 +'%'" severity="info"
        pTooltip="Portfolio profit and loss"></p-tag>

    <p-tag [value]="priceTargetService.targetDiff * 100 +'%'" severity="info"
        pTooltip="Profit target"></p-tag>
    <p-tag pTooltip="Trade allocation - percentage of cash balance"
        [value]="autopilotService.riskToleranceList[autopilotService.riskCounter] * 100 +'%'" severity="danger"></p-tag>
    <!-- 
    <p-tag [value]="dayTradingRiskToleranceList[dayTradeRiskCounter] * 100 +'%'" severity="warning"
        pTooltip="Day trade allocation - percentage of total bp"></p-tag>
    <label for="daytrade-switch">Daytrade mode</label>
    <p-inputSwitch inputId="daytrade-switch" (onChange)="handleDaytrade()" [(ngModel)]="daytradeMode"></p-inputSwitch>
     -->
    <label for="trading-switch">Trading is active</label>
    <p-inputSwitch inputId="trading-switch" [(ngModel)]="autopilotService.isOpened" [readonly]="true"></p-inputSwitch>

</ng-template>