<p-selectButton [options]="listType" [(ngModel)]="activeList" optionLabel="label"
    (click)="changedList()"></p-selectButton>
<div class="actions">
    <input type="file" #fileInput placeholder="Upload file..." (change)="upload()" accept=".xls,.xlsx,.ods"/>

    <input type="text" pInputText [(ngModel)]="newStock" />
    <button pButton type="button" label="Add Stock" (click)="addRow()"></button>
    <p-splitButton label="Get winners" icon="pi pi-check" (onClick)="getWinners()" [model]="items"></p-splitButton>
</div>

<div class="pick-list-container">
    <p-pickList [source]="stockList" [target]="newList" sourceHeader="Current List" targetHeader="New List"
        [dragdrop]="true" [responsive]="true" [sourceStyle]="{'height':'30rem'}" [targetStyle]="{'height':'30rem'}"
        filterBy="name" sourceFilterPlaceholder="Search by name" targetFilterPlaceholder="Search by name">
        <ng-template let-stock pTemplate="item">
            <div class="product-item">
                <div class="product-list-detail">
                    <h5 class="p-mb-2">{{stock?.ticker}}</h5>
                </div>
                <div class="product-list-action">
                    <button pButton pRipple type="button" icon="pi pi-times" (click)="deleteRow(stock, ri)"
                        class="p-button-rounded p-button-text p-button-danger"></button>
                </div>
            </div>
        </ng-template>
    </p-pickList>
</div>