<p-button icon="pi pi-refresh" iconPos="right" (click)="refresh()"></p-button>

<div *ngIf="!cartService.sellOrders.length && !cartService.buyOrders.length && !cartService.otherOrders.length">
  <p>No orders found.</p>
</div>
<div class="order-container">
  <div class="column">
    <h4>Daytrade</h4>
    <ul>
      <li *ngFor="let other of cartService.otherOrders" class="order-card">
        <app-bb-card [order]="other" [tearDown]="other.stopped">
        </app-bb-card>
      </li>
    </ul>
  </div>

  <div class="column">
    <h4>Buy</h4>
    <ul>
      <li *ngFor="let buy of cartService.buyOrders" class="order-card">
        <app-bb-card [order]="buy" [tearDown]="buy.stopped">
        </app-bb-card>
      </li>
    </ul>
  </div>

  <div class="column">
    <h4>Sell</h4>
    <ul>
      <li *ngFor="let sell of cartService.sellOrders" class="order-card">
        <app-bb-card [order]="sell" [tearDown]="sell.stopped">
        </app-bb-card>
      </li>
    </ul>
  </div>
</div>