<div class="order-container">
  <div class="column">
    <h4>Daytrade</h4>
    <div *ngIf="!cartService.otherOrders.length" class="empty-card">
      <p>No orders found.</p>
    </div>
    <ul>
      <li *ngFor="let other of cartService.otherOrders" class="order-card">
        <app-bb-card [order]="other" [tearDown]="other.stopped">
        </app-bb-card>
      </li>
    </ul>
  </div>

  <div class="column">
    <h4>Buy</h4>
    <div *ngIf="!cartService.buyOrders.length" class="empty-card">
      <p>No orders found.</p>
    </div>
    <ul>
      <li *ngFor="let buy of cartService.buyOrders" class="order-card">
        <app-bb-card [order]="buy" [tearDown]="buy.stopped">
        </app-bb-card>
      </li>
    </ul>
  </div>

  <div class="column">
    <h4>Sell</h4>
    <div *ngIf="!cartService.sellOrders.length" class="empty-card">
      <p>No orders found.</p>
    </div>
    <ul>
      <li *ngFor="let sell of cartService.sellOrders" class="order-card">
        <app-bb-card [order]="sell" [tearDown]="sell.stopped">
        </app-bb-card>
      </li>
    </ul>
  </div>
</div>