<div class="setting-controls-container">
  <div class="p-grid">
    <div class="p-col-3">
      <label matTooltip="Orders trade date">
        Date
      </label>
      <span>&nbsp;</span>
      <input type="date" [ngModel]="globalSettingsService.tradeDate | date:'yyyy-MM-dd'"
        (ngModelChange)="setTradeDate($event)">
    </div>
    <div class="p-col-3">
      <label matTooltip="Orders start time">
        Start
      </label>
      <span>&nbsp;</span>
      <timepicker [(ngModel)]="globalSettingsService.startTime" [showMeridian]="ismeridian"></timepicker>
    </div>
    <div class="p-col-3">
      <label matTooltip="When to close order if 'sell on the close' is set. Must be before stop time">
        Sell to Close
      </label>
      <span>&nbsp;</span>
      <timepicker [(ngModel)]="globalSettingsService.sellAtCloseTime" [showMeridian]="ismeridian"></timepicker>
    </div>
    <div class="p-col-3">
      <label matTooltip="Orders stop time">
        Stop
      </label>
      <span>&nbsp;</span>
      <timepicker [(ngModel)]="globalSettingsService.stopTime" [showMeridian]="ismeridian"></timepicker>
    </div>
  </div>
</div>