<div class="card">
    <p-timeline [value]="events">
        <ng-template pTemplate="marker" let-event>
            <span 
                class="flex w-2rem h-2rem align-items-center justify-content-center text-white border-circle z-1 shadow-1" 
                [style]="{ 'background-color': event.color }">
                    <i [class]="event.icon"></i>
            </span>
        </ng-template>
        <ng-template pTemplate="content" let-event>
            <p-card [header]="event.status" [subheader]="event.date">
                <label>Expected: {{ event.expected }}</label>
                <label>Actual: {{ event.result }}</label>
            </p-card>
        </ng-template>
    </p-timeline>
</div>
