<p-table [value]="scoreTable" [paginator]="true" [rows]="20">
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">
      <p-button icon="pi pi-refresh" (click)="getScores()"></p-button>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th>
        Close Date
      </th>
      <th>
        Stock
      </th>
      <th>
        Profit/Loss
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData>
    <tr>
      <td>
        {{rowData.closeDate}}
      </td>
      <td>
        {{rowData.symbol}}
      </td>
      <td>
        {{rowData.pl | currency}}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    Day Profit/Loss: {{ this.totalScore | currency }}
  </ng-template>
</p-table>