<div *ngIf="order.primaryLeg">
  <p-button [label]="order.primaryLeg.description" (click)="toggleSettingsVisible()"
    [badge]="order.quantity" styleClass="mr-2" severity="warning"></p-button>
</div>
<div *ngIf="!order.primaryLeg && !order.primaryLegs && !order.secondaryLegs && !order.primaryLegs">
  <p-button [label]="order.holding.symbol" (click)="toggleSettingsVisible()" [badge]="order.quantity"
    class="p-button-outlined p-button-help" severity="secondary"></p-button>
</div>
<div *ngIf="order.primaryLegs && !order.secondaryLegs">
  <p-button [label]="order.primaryLegs[0].description" (click)="toggleSettingsVisible()"
    [badge]="order.quantity" class="p-button-outlined" severity="help"></p-button>
</div>
<div *ngIf="order.primaryLegs && order.secondaryLegs">
  <p-button [label]="order.primaryLegs[0].description + ' - ' +order.secondaryLegs[0].description"
    (click)="toggleSettingsVisible()" [badge]="order.quantity"
    class="p-button-outlined p-button-secondary" severity="contrast"></p-button>
</div>
<p-dialog [header]="order.holding.symbol" [(visible)]="settingsVisible">
  <div class="banner" *ngIf="error">
    <div class="banner-content">
      ERROR: {{error}}
    </div>
  </div>
  <div class="banner-warning" *ngIf="warning">
    <div class="banner-content-warning">
      WARNING: {{warning}}
    </div>
  </div>
  <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>

  <div>
    <div>
      <div *ngIf="live">
        <p-chip label="Live" styleClass="p-mr-2 live-chip"></p-chip>
      </div>
      <div *ngIf="!live">
        <p-chip label="Stalled"></p-chip>
      </div>
      <div>
        Orders Submitted: {{ order.buyCount + order.sellCount}}/{{order.quantity || 0}} shares
      </div>
      <div class="toolbar-content" fxLayout fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="10px"
        fxLayoutGap.xs="0">
        <div fxFlex="5%">
          <p-header>
            <h3>{{order.holding.symbol}}</h3>
            <h5 *ngIf="order.reason">
              {{order.reason}}
            </h5>
            <p-tag *ngIf="order.type==1" styleClass="p-mr-2" severity="contast" value="Options"></p-tag>
            <p-tag *ngIf="order.type==3" styleClass="p-mr-2" severity="contast" value="Strangle"></p-tag>
            <p-tag *ngIf="order.type==4" styleClass="p-mr-2" severity="contast" value="Put"></p-tag>
            <p-tag *ngIf="order.type==5" styleClass="p-mr-2" severity="contast" value="Call"></p-tag>
            <div *ngIf="order.primaryLeg">
              <label>{{order.primaryLeg.description}}</label>
            </div>
            <div *ngIf="order.secondaryLeg">
              <label>{{order.secondaryLeg.description}}</label>
            </div>
            <ul *ngIf="order.primaryLegs">
              <li *ngFor="let leg of order.primaryLegs">
                {{leg.quantity}} x {{leg.description}}
              </li>
            </ul>
            <ul *ngIf="order.secondaryLegs">
              <li *ngFor="let leg of order.secondaryLegs">
                {{leg.quantity}} x {{leg.description}}
              </li>
            </ul>
            <p>
              <p-tag *ngIf="order.side=='Buy'" styleClass="p-mr-2" severity="success"
                value="Buy"></p-tag>
              <p-tag *ngIf="order.side=='Sell'" severity="danger" value="Sell"></p-tag>
              <p-tag *ngIf="order.side=='DayTrade'" styleClass="p-mr-2" severity="info"
                value="Daytrade"></p-tag>
            </p>
          </p-header>
        </div>
        <div fxFlex="95%">
          <div class="order-log">
            <mat-grid-list cols="3" rowHeight="150px">
              <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows">
                <div class="tiles">
                  <table>
                    <tr *ngFor="let order of tile.orders">
                      <td>{{order.signalTime}}</td>
                      <td>{{order.action}}</td>
                      <td>{{order.quantity}}@</td>
                      <td>${{order.price}}</td>
                      <td> on {{order.timeSubmitted}}</td>
                    </tr>
                  </table>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>
      </div>
      <div>
        <div class="card-actions">
          <button pButton class="p-button-info" (click)="backtest()">Backtest</button>
        </div>
        <div class="card-actions">
          <button pButton class="p-button-info" (click)="simulate()">Simulate</button>
        </div>
        <div class="card-actions">
          <button pButton class="p-button-info" (click)="buyStrangle()">Buy Strangle</button>
        </div>
      </div>
    </div>
  </div>
  <span class="delete-me">
    <button pButton type="button" (click)="delete()" label="Delete"></button>
  </span>
</p-dialog>