<!-- <div class="p-grid">
    <div class="p-col-3">Net P&L</div>
    <div class="p-col-3">Trade Win %</div>
    <div class="p-col-3">Profit Factor</div>
    <div class="p-col-3">Avg Win/Loss trade</div>
</div>
<div class="p-grid">
    <div class="p-col-6">Daily Net Cumulative P&L</div>
    <div class="p-col-6">Net Daily P&L</div>
</div> -->
<div class="order-container">
    <app-orders-list></app-orders-list>
</div>

<div class="container">
    <app-autopilot></app-autopilot>
</div>
<app-shopping-list></app-shopping-list>